<razor-blade></razor-blade>
<detail [detailData]="educationDetails" ngsReveal></detail>
<detail [detailData]="experienceDetails" ngsReveal></detail>
<detail [detailData]="volunteerDetails" ngsReveal></detail>

<div class="section-divider first"></div>
<div class="section-divider second"></div>
<div class="section-divider third"></div>

<div class="language-icon-container">
    <h1 class="icons-header" ngsReveal>Languages & Tools</h1>
    <div class="icons-container" ngsReveal>
        <div class="single-icon-container" *ngFor="let icon of iconData">
            <icon-container [iconDesc]="icon.title" [iconFileName]="icon.imagePath"></icon-container>
        </div>
    </div>
</div>

<footer></footer>