.menu-bar-container {
	display: flex;
	justify-content: center;
	background: #2B2D2F;

	.menu-logo {
		position: absolute;
		top: 4px;
		left: 15px;

		img {
			max-height: 45px;
		}
	}

	.menu-button-container {
		display: flex;

		.menu-button {
			display: flex;
			padding: 5px 10px;
			font-size: 20px;
	
			p {
				margin: 10px;
				color: #ffffff;
				font-family: Futura;
			}
		}

		.menu-button:hover {
			p {
				color: #3c79a1;
				text-decoration: underline;
			}
		}
	}

	a {
		text-decoration: none;
	}
}
