<div class="menu-bar-container">
	<!-- <div class="menu-logo">
		<img src="../../assets/ck-logo-white.png">
	</div> -->
	<div class="menu-button-container">
		<a routerLink="" class="menu-button">
			<p>Home</p>
		</a>
		<a routerLink="" class="menu-button">
			<p>Experience</p>
		</a>
		<a routerLink="" class="menu-button">
			<p>Projects</p>
		</a>
		<a routerLink="" class="menu-button">
			<p>Hobbies</p>
		</a>
		<a routerLink="gallery" class="menu-button">
			<p>Gallery</p>
		</a>
	</div>
</div>