<div class="detail-container">
    <h2>{{ title }}</h2>
    <div class="detail-entries-container">
        <div class="detail-entry-container" *ngFor="let entry of entries">
            <ng-container *ngIf="isExperience">
                <p class="entry-data name" *ngIf="entry.name">{{ entry.name }}</p>
                <p class="entry-data sub-name" *ngIf="entry.startDate && entry.endDate">{{ entry.startDate }} - {{ entry.endDate }}</p>
                <p class="entry-data sub-name" *ngIf="entry.location">{{ entry.location }}</p>
                <ng-container *ngIf="entry.titles">
                    <div class="detail-entry-title" *ngFor="let titleEntry of entry.titles">
                        <p class="entry-data secondary-name" *ngIf="titleEntry.title">{{ titleEntry.title }}</p>
                        <p class="entry-data sub-name" *ngIf="titleEntry.startDate && titleEntry.endDate">{{ titleEntry.startDate }} - {{ titleEntry.endDate }}</p>
                    </div>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="isEducation">
                <p class="entry-data name" *ngIf="entry.name">{{ entry.name }}</p>
                <p class="entry-data sub-name" *ngIf="entry.startDate && entry.endDate">{{ entry.startDate }} - {{ entry.endDate }}</p>
                <p class="entry-data sub-name" *ngIf="entry.degreeEarned">{{ entry.degreeEarned }}</p>
            </ng-container>
            <ng-container *ngIf="isVolunteer">
                    <p class="entry-data name" *ngIf="entry.name">{{ entry.name }}</p>
                    <p class="entry-data secondary-name" *ngIf="entry.title">{{ entry.title }}</p>
                    <p class="entry-data sub-name" *ngIf="entry.startDate && entry.endDate">{{ entry.startDate }} - {{ entry.endDate }}</p>
                    <p class="entry-data sub-name desc" *ngIf="entry.description">{{ entry.description }}</p>
            </ng-container>
        </div>
    </div>
</div>