:host {
    display: block;
}

.title-text {
    h1 {
        font-size: 40px;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
