<!-- <div class="home-banner"> -->
    <!-- <particles [style]="style" [params]="params"></particles> -->
    <!-- <div class="banner-text-content"> -->
        <!-- <p class="banner-text"></p> -->
    <!-- </div> -->
<!-- </div> -->
<div class="home-banner-test">
    <!-- <img class="image-container" src="../../assets/cubes-black.jpg"> -->
    <h1>Coty Kurtz</h1>
    <h2>Software Engineer</h2>
</div>
<!-- <div class="home-banner">
    <h1>Coty Kurtz</h1>
    <h2>Software Engineer</h2>
</div>
<div class="about-me-container" ngsReveal>
    <div class="about-me-image-container">
        <img src="{{aboutMeImageLink}}">
    </div>
    <div class="about-me-text-container">
        <h1>About Me</h1>
        <p>Welcome to my website! My name is Coty Kurtz.</p>
        <p>
            I am a software developer currently based in the Washington D.C. area.
            I graduated from the University of Texas at Austin with a Bachelors of Science in Computer Science in December 2017.
            My passion in tech is to create fun and engaging mobile and web applications, along with APIs and micro-services for those UIs to interact with.
            Some of my hobbies and interests include: astronomy, animals, environmental conservation, nature, hiking, music, going to concerts, and watching movies (especially Disney).
        </p>
    </div>
</div>
<div class="about-me-container" ngsReveal>
    <div class="about-me-image-container">
        <img src="{{aboutMeImageLink}}">
    </div>
    <div class="about-me-text-container">
        <h1>About Me</h1>
        <p>Welcome to my website! My name is Coty Kurtz.</p>
        <p>
            I am a software developer currently based in the Washington D.C. area.
            I graduated from the University of Texas at Austin with a Bachelors of Science in Computer Science in December 2017.
            My passion in tech is to create fun and engaging mobile and web applications, along with APIs and micro-services to support them.
            Some of my hobbies and interests include: astronomy, animals, environmental conservation, nature, hiking, music, going to concerts, and watching movies (especially Disney).
        </p>
    </div>
</div>
<footer ngsReveal></footer> -->