:host {
	display: flex;
	justify-content: center;
	height: 100%;
	background: url('../../assets/world-map-art.png');
	background-repeat: no-repeat;
	background-size: 100%;
}

div.gallery-container {
	border: 2px solid black;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 30px;
	margin: 50px auto;
	padding: 50px;

	div.gallery-bar-container {
		display: flex;
		align-items: center;
		
		.category-header {
			padding-left: 25px;
			font-size: 25px;
		}

		.arrow-icon img {
			padding-left: 25px;
			height: 30px;
			width: 30px;
		}

		img {
			height: 100px;
			width: 80px;
		}
	}
}
