:host {
	display: flex;
	justify-content: center;
	height: 100%;
	background: rgba(255, 255, 255);
	background-size: 100%;
}

div.gallery-container {
	margin-right: 100px;
	padding: 50px;

	div.gallery-bar-container {
		display: flex;
		align-items: center;
		transition: all .2s ease-in-out;
		
		.category-header {
			padding-left: 25px;
			font-size: 25px;
		}

		.arrow-icon img {
			padding-left: 25px;
			height: 30px;
			width: 30px;
		}

		img {
			height: 100px;
			width: 80px;
		}
	}

	div.gallery-bar-container:hover {
		transform: scale(1.1);
	}
}
